<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" fire icon "></i> 首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tasks icon "></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i> 标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>

            </div>
        </div>

    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!--中间内容-->
<div class="ui container m-margin-top-large">
    <div class="ui stackable grid">
        <div class="ui eleven wide column">
            <img src="https://picsum.photos/seed/picsum/800/500" alt="" class="ui rounded image">
        </div>
        <div class="ui five wide column">
            <div class="ui top teal attached segment">
                <h2>关于我</h2>
            </div>
            <div class="ui attached segment">
                <p class="m-text-spaced">hello，大家好。我是海绵爱上星，欢迎来到我的博客。</p>
                <p>我会唱、跳、rap、篮球。希望大家投票给我。</p>
            </div>
            <div class="ui attached segment">
                <a href="#" class="ui basic orange label m-margin-tb-tiny">唱</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">跳</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">rap</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">篮球</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">LOL</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">喷空</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">侃大山</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">旅游</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">历史</a>
                <a href="#" class="ui basic orange label m-margin-tb-tiny">音乐</a>

            </div>
            <div class="ui attached segment">
                <div>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                    <a href="#" class="ui teal basic label left pointing m-margin-tb-tiny">方法论</a>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <a href="https://github.com/zzyssg" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                <a href="#" target="_blank" class="ui wechat circular button icon"><i class="weixin icon"></i></a>
                <a href="#" target="_blank" class="ui circular button icon" data-tooltip="2726066523" data-position="bottom center"><i class="qq icon"></i></a>
            </div>
            <div class="ui wechat-qr transition hidden popup" style="width: 120px">
                <img src="../static/images/wechat.jpg" alt="" class="ui rounded image">
            </div>
        </div>
    </div>

</div>
<br>
<br>
<br>
<!--尾部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" class="ui centered rounded image" alt="" style="width: 100px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted m-opacity-mini link list">
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客1</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted m-opacity-mini link list">
                    <a href="#" class="item">QQ:2726066523</a>
                    <a href="#" class="item">邮箱：2726066523@qq.com</a>
                    <a href="#" class="item">微信：gave_me_rain08B</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4>海绵爱上星</h4>
                <p class="m-text-thin m-text-line m-text-spaced m-opacity-mini">
                    hello，大家好。我是海绵爱上星，欢迎来到我的博客。
                    我会唱、跳、rap、篮球。希望大家投票给我。
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-line m-text-spaced m-opacity-tiny">Copyright@2020-2021 Masami Designed by Gakki</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.wechat').popup({
        popup:$('.wechat-qr'),
        position:'bottom center'
    });
</script>

</body>
</html>